<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Harpoon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A74CC3E51F943D0D00D5AAB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74CC3F91F943D0D00D5AAB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74CC4041F943D0D00D5AAB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
